.heading{
    font-family: "Times New Roman", Times, serif;
    
    font-style:normal;
    font-weight: 500;
    font-size: calc(1.375rem + 0.9vw);
    
}

.para{
    font-size: 26px;
    text-align: center;
    

}

.inputsize{
    height: 60px;
    
}


.h-form{
    background-color: rgb(203, 245, 231);
}

